@{
    ViewData["Title"] = "Index Page";
}

<div class="clearfix"> <br /> </div>

<table id="tblBerat" class="table table-striped">
    <thead>
        <tr>
            <th>Tanggal</th>
            <th>Max</th>
            <th>Min</th>
            <th>Perbedaan</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <td>Rata Rata</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>

@section Scripts{
    <script>
        var oTable;
        $(document).ready(function () {
            oTable = $('#tblBerat').DataTable({
                "ajax": "/Home/DataTableAjaxHandler/",
                "processing": true,
                "serverSide": true,
                "bAutoWidth": false,
                "sortable": false,
                "orderable": false,
                "columns": [
                    { "data": "tanggal" },
                    { "data": "beratMax" },
                    { "data": "beratMin" },
                    { "data": null },
                    { "data": "id", "visible": false }
                ],
                "columnDefs": [
                    {
                        "render": function (data, type, row, meta) {
                            var baseUrl = "/Home/Edit/" + row.id;
                            return '<a href="' + baseUrl + '">' + data + '</a>';
                        },
                        "targets": 0
                    },                    
                    {
                        "render": function (data, type, row, meta) {
                            return parseInt(row.beratMax) - parseInt(row.beratMin);
                        },
                        "targets": 3
                    }
                ],
                "footerCallback": function (row, data, start, end, display) {                                        
                    var api = this.api(), data;
                    // Total over all pages
                    avgMax = api
                        .column(1)
                        .data()
                        .reduce(function (a, b) {
                            return ((a * 1) + (b * 1) / data.length).toFixed(1);
                        }, 0);

                    // Total over this page
                    avgMin = api
                        .column(2)
                        .data()
                        .reduce(function (a, b) {
                            return ((a * 1) + (b * 1) / data.length).toFixed(1);
                        }, 0);

                    avgPerbedaan = (avgMax - avgMin).toFixed(1);
                    // Update footer
                    $(api.column(1).footer()).html(avgMax);
                    $(api.column(2).footer()).html(avgMin);
                    $(api.column(3).footer()).html(avgPerbedaan);
                }
            });
        });
    </script>
}